<?xml version='1.0' encoding='windows-1252'?>

<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<?ifndef Tag ?><?define Tag = "v$(var.Version)" ?><?endif ?>
<?ifndef Commit ?><?define Commit = "0000000000000000000000000000000000000000" ?><?endif ?>
<?ifndef TargetTriple ?><?define TargetTriple = "x86_64-pc-windows-msvc" ?><?endif ?>
<?ifndef PayloadSha256 ?><?define PayloadSha256 = "0000000000000000000000000000000000000000000000000000000000000000" ?><?endif ?>
<?ifndef LauncherSha256 ?><?define LauncherSha256 = "0000000000000000000000000000000000000000000000000000000000000000" ?><?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product
        Id='*'
        Name='honk300'
        UpgradeCode='327D92E2-33FA-4B3B-887B-D37745A7A7E6'
        Manufacturer='Emmett S'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package
            Id='*'
            Keywords='Installer'
            Description='Desktop goose for your screen'
            Manufacturer='Emmett S'
            InstallerVersion='500'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'/>

        <MajorUpgrade
            Schedule='afterInstallExecute'
            AllowDowngrades='yes'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes'/>
        <Property Id='ApplicationFolderName' Value='honk300'/>
        <Property Id='HONK300ORIGIN' Value='msi-global' Secure='yes'/>
        <Property Id='HONK300AUTOSTART' Value='false' Secure='yes'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='honk300'>
                    <Component Id='LegalNotices' Guid='2618A816-02FC-4651-8920-9255D16D1719'>
                        <File Id='LicenseFile' Name='LICENSE' DiskId='1' Source='$(var.SourceRoot)\LICENSE' KeyPath='yes'/>
                        <File Id='ThirdPartyAssetsFile' Name='THIRD_PARTY_ASSETS.md' DiskId='1' Source='$(var.SourceRoot)\THIRD_PARTY_ASSETS.md'/>
                    </Component>
                    <!-- The slot transaction exclusively owns the neutral bin junction. Keep
                         integration metadata in the real application root so MSI never creates,
                         registers, or holds the selector path as an ordinary directory. -->
                    <Component Id='Path' Guid='A563EAE7-451A-48C3-8AB0-1A998F9AF47F' KeyPath='yes' Permanent='yes'>
                        <Environment
                            Id='PATH'
                            Name='PATH'
                            Value='[APPLICATIONFOLDER]bin'
                            Permanent='no'
                            Part='last'
                            Action='set'
                            System='yes'/>
                    </Component>
                    <Directory Id='Channels' Name='channels'>
                        <Directory Id='MsiGlobalChannel' Name='msi-global'>
                            <Directory Id='MsiGlobalReleases' Name='releases'>
                                <Directory Id='ReleaseSlot' Name='$(var.Version)-$(var.TargetTriple)'>
                                    <Directory Id='ReleaseBin' Name='bin'>
                                        <Component Id='Honk300Exe' Guid='*' Permanent='yes'>
                                            <File Id='Honk300ExeFile' Name='honk300.exe' DiskId='1' Source='$(var.CargoTargetBinDir)\honk300.exe' KeyPath='yes'/>
                                        </Component>
                                        <Component Id='HonkAliasExe' Guid='*' Permanent='yes'>
                                            <File Id='HonkAliasExeFile' Name='honk.exe' DiskId='1' Source='$(var.CargoTargetBinDir)\honk300.exe' KeyPath='yes'/>
                                        </Component>
                                        <Component Id='GooseAliasExe' Guid='*' Permanent='yes'>
                                            <File Id='GooseAliasExeFile' Name='goose.exe' DiskId='1' Source='$(var.CargoTargetBinDir)\honk300.exe' KeyPath='yes'/>
                                        </Component>
                                        <Component Id='Honk300AppExe' Guid='*' Permanent='yes'>
                                            <File Id='Honk300AppExeFile' Name='honk300-app.exe' DiskId='1' Source='$(var.CargoTargetBinDir)\honk300-app.exe' KeyPath='yes'/>
                                        </Component>
                                    </Directory>
                                </Directory>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id='CommonProgramsFolder'>
                <Directory Id='ApplicationProgramsFolder' Name='honk300'/>
            </Directory>
        </Directory>

        <DirectoryRef Id='APPLICATIONFOLDER'>
            <Component Id='InstallSourceMarker' Guid='*' Permanent='yes'>
                <RegistryValue
                    Root='HKLM'
                    Key='Software\Honk300'
                    Name='InstallSource'
                    Type='string'
                    Value='[HONK300ORIGIN]'
                    KeyPath='yes'/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id='ApplicationProgramsFolder'>
            <Component Id='StartMenuShortcut' Guid='*' Permanent='yes'>
                <Shortcut
                    Id='StartMenuShortcut'
                    Name='Honk300'
                    Target='[APPLICATIONFOLDER]bin\honk300-app.exe'
                    WorkingDirectory='APPLICATIONFOLDER'/>
                <RemoveFolder Id='RemoveApplicationProgramsFolder' On='uninstall'/>
                <RegistryValue Root='HKLM' Key='Software\Honk300' Name='StartMenuShortcut' Type='integer' Value='1' KeyPath='yes'/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id='APPLICATIONFOLDER'>
            <Component Id='LoginAutostart' Guid='*'>
                <RegistryValue
                    Root='HKLM'
                    Key='Software\Microsoft\Windows\CurrentVersion\Run'
                    Name='Honk300'
                    Type='string'
                    Value='"[APPLICATIONFOLDER]bin\honk300-app.exe"'
                    KeyPath='yes'/>
            </Component>
        </DirectoryRef>

        <Feature
            Id='Binaries'
            Title='honk300'
            Description='Installs honk300, honk, and goose command aliases.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>
            <ComponentRef Id='Honk300Exe'/>
            <ComponentRef Id='HonkAliasExe'/>
            <ComponentRef Id='GooseAliasExe'/>
            <ComponentRef Id='Honk300AppExe'/>
            <ComponentRef Id='LegalNotices'/>
            <ComponentRef Id='InstallSourceMarker'/>
            <ComponentRef Id='StartMenuShortcut'/>
            <Feature Id='Environment' Title='PATH Environment Variable' Description='Add honk300 to the system PATH.' Level='1' Absent='allow'>
                <ComponentRef Id='Path'/>
            </Feature>
            <Feature Id='Autostart' Title='Login Autostart' Description='Start honk300 when this user logs in.' Level='2' Absent='allow'>
                <ComponentRef Id='LoginAutostart'/>
            </Feature>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>
        <SetProperty Id='HONK300AUTOSTART' Value='true' After='CostFinalize'>&amp;Autostart=3</SetProperty>
        <Property Id='ARPHELPLINK' Value='https://github.com/RealEmmettS/goose'/>

        <Binary Id='Honk300SlotHelper' SourceFile='$(var.CargoTargetBinDir)\honk300.exe'/>
        <CustomAction
            Id='RollbackWindowsSlot'
            BinaryKey='Honk300SlotHelper'
            ExeCommand='__windows-slot-rollback --root &quot;[APPLICATIONFOLDER]\&quot;'
            Execute='rollback'
            Impersonate='no'
            Return='ignore'/>
        <CustomAction
            Id='ActivateWindowsSlot'
            BinaryKey='Honk300SlotHelper'
            ExeCommand='__wsa -r &quot;[APPLICATIONFOLDER]\&quot; -o &quot;[HONK300ORIGIN]&quot; -c &quot;$(var.Commit)&quot; -a &quot;[OriginalDatabase]&quot; -l &quot;$(var.LauncherSha256)&quot; -u &quot;[HONK300AUTOSTART]&quot;'
            Execute='deferred'
            Impersonate='no'
            Return='check'
            HideTarget='yes'/>
        <CustomAction
            Id='CommitWindowsSlot'
            BinaryKey='Honk300SlotHelper'
            ExeCommand='__windows-slot-commit --root &quot;[APPLICATIONFOLDER]\&quot;'
            Execute='commit'
            Impersonate='no'
            Return='check'/>
        <CustomAction Id='UninstallWindowsSlot' BinaryKey='Honk300SlotHelper' ExeCommand='__windows-slot-uninstall --root &quot;[APPLICATIONFOLDER]\&quot; --origin &quot;msi-global&quot;' Execute='deferred' Impersonate='no' Return='check'/>
        <InstallExecuteSequence>
            <Custom Action='RollbackWindowsSlot' After='RemoveExistingProducts'>NOT REMOVE~=&quot;ALL&quot;</Custom>
            <Custom Action='ActivateWindowsSlot' After='RollbackWindowsSlot'>NOT REMOVE~=&quot;ALL&quot;</Custom>
            <Custom Action='CommitWindowsSlot' After='ActivateWindowsSlot'>NOT REMOVE~=&quot;ALL&quot;</Custom>
            <Custom Action='UninstallWindowsSlot' Before='RemoveFiles'>REMOVE~=&quot;ALL&quot; AND NOT UPGRADINGPRODUCTCODE</Custom>
        </InstallExecuteSequence>

        <WixVariable Id='WixUILicenseRtf' Value='$(var.SourceRoot)\wix\honk300-license.rtf'/>

        <UI>
            <UIRef Id='WixUI_FeatureTree'/>
        </UI>
    </Product>
</Wix>
