<?xml version='1.0' encoding='windows-1252'?>

<?ifndef Tag ?><?define Tag = "v$(var.Version)" ?><?endif ?>
<?ifndef Commit ?><?define Commit = "0000000000000000000000000000000000000000" ?><?endif ?>
<?ifndef TargetTriple ?><?define TargetTriple = "x86_64-pc-windows-msvc" ?><?endif ?>
<?ifndef PayloadSha256 ?><?define PayloadSha256 = "0000000000000000000000000000000000000000000000000000000000000000" ?><?endif ?>
<?ifndef LauncherSha256 ?><?define LauncherSha256 = "0000000000000000000000000000000000000000000000000000000000000000" ?><?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product
        Id='*'
        Name='honk300 (Corporate Edition)'
        UpgradeCode='247D60BB-5DD4-4D99-9F1B-D6AD52FA4FC7'
        Manufacturer='Emmett S'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package
            Id='*'
            Keywords='Installer'
            Description='Desktop goose for your screen (Corporate Edition, per-user install)'
            Manufacturer='Emmett S'
            InstallerVersion='500'
            Languages='1033'
            Compressed='yes'
            InstallScope='perUser'
            SummaryCodepage='1252'/>

        <!-- Remove the related product inside the rollbackable transaction, after the new slot
             is staged but before its selector is activated. A later failure restores the old
             product and the slot rollback action restores its selectors and receipt. -->
        <MajorUpgrade
            Schedule='afterInstallExecute'
            AllowDowngrades='yes'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes'/>
        <Property Id='HONK300AUTOSTART' Value='false' Secure='yes'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='LocalAppDataFolder'>
                <Directory Id='ProgramsFolder' Name='Programs'>
                    <Directory Id='APPLICATIONFOLDER' Name='honk300'>
                        <Component Id='LegalNotices' Guid='31F89180-03BF-4BE4-B62B-69270D7C73E6'>
                            <File Id='LicenseFile' Name='LICENSE' DiskId='1' Source='$(var.SourceRoot)\LICENSE' KeyPath='yes'/>
                            <File Id='ThirdPartyAssetsFile' Name='THIRD_PARTY_ASSETS.md' DiskId='1' Source='$(var.SourceRoot)\THIRD_PARTY_ASSETS.md'/>
                        </Component>
                        <Directory Id='Bin' Name='bin'>
                            <Component Id='Path' Guid='103257E6-F862-4C5B-A921-104C5ACFA761' KeyPath='yes' Permanent='yes'>
                                <Environment
                                    Id='PATH'
                                    Name='PATH'
                                    Value='[Bin]'
                                    Permanent='no'
                                    Part='last'
                                    Action='set'
                                    System='no'/>
                            </Component>
                        </Directory>
                        <Directory Id='Channels' Name='channels'>
                            <Directory Id='MsiCorporateChannel' Name='msi-corporate'>
                                <Directory Id='MsiCorporateReleases' Name='releases'>
                                    <Directory Id='ReleaseSlot' Name='$(var.Version)-$(var.TargetTriple)'>
                                        <Directory Id='ReleaseBin' Name='bin'>
                                            <Component Id='Honk300Exe' Guid='*' Permanent='yes'>
                                                <File Id='Honk300ExeFile' Name='honk300.exe' DiskId='1' Source='$(var.CargoTargetBinDir)\honk300.exe' KeyPath='yes'/>
                                            </Component>
                                            <Component Id='HonkAliasExe' Guid='*' Permanent='yes'>
                                                <File Id='HonkAliasExeFile' Name='honk.exe' DiskId='1' Source='$(var.CargoTargetBinDir)\honk300.exe' KeyPath='yes'/>
                                            </Component>
                                        <Component Id='GooseAliasExe' Guid='*' Permanent='yes'>
                                            <File Id='GooseAliasExeFile' Name='goose.exe' DiskId='1' Source='$(var.CargoTargetBinDir)\honk300.exe' KeyPath='yes'/>
                                        </Component>
                                        <Component Id='Honk300AppExe' Guid='*' Permanent='yes'>
                                            <File Id='Honk300AppExeFile' Name='honk300-app.exe' DiskId='1' Source='$(var.CargoTargetBinDir)\honk300-app.exe' KeyPath='yes'/>
                                        </Component>
                                        </Directory>
                                    </Directory>
                                </Directory>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id='ProgramMenuFolder'>
                <Directory Id='ApplicationProgramsFolder' Name='honk300'/>
            </Directory>
        </Directory>

        <DirectoryRef Id='APPLICATIONFOLDER'>
            <Component Id='InstallSourceMarker' Guid='*' Permanent='yes'>
                <RegistryValue
                    Root='HKCU'
                    Key='Software\Honk300'
                    Name='InstallSource'
                    Type='string'
                    Value='msi-corporate'
                    KeyPath='yes'/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id='ApplicationProgramsFolder'>
            <Component Id='StartMenuShortcut' Guid='*' Permanent='yes'>
                <Shortcut
                    Id='StartMenuShortcut'
                    Name='Honk300'
                    Target='[Bin]honk300-app.exe'
                    WorkingDirectory='Bin'/>
                <RemoveFolder Id='RemoveApplicationProgramsFolder' On='uninstall'/>
                <RegistryValue Root='HKCU' Key='Software\Honk300' Name='StartMenuShortcut' Type='integer' Value='1' KeyPath='yes'/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id='APPLICATIONFOLDER'>
            <Component Id='LoginAutostart' Guid='*'>
                <RegistryValue
                    Root='HKCU'
                    Key='Software\Microsoft\Windows\CurrentVersion\Run'
                    Name='Honk300'
                    Type='string'
                    Value='"[Bin]honk300-app.exe"'
                    KeyPath='yes'/>
            </Component>
        </DirectoryRef>

        <Feature
            Id='Binaries'
            Title='honk300'
            Description='Installs honk300, honk, and goose command aliases.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>
            <ComponentRef Id='Honk300Exe'/>
            <ComponentRef Id='HonkAliasExe'/>
            <ComponentRef Id='GooseAliasExe'/>
            <ComponentRef Id='Honk300AppExe'/>
            <ComponentRef Id='LegalNotices'/>
            <ComponentRef Id='InstallSourceMarker'/>
            <ComponentRef Id='StartMenuShortcut'/>
            <Feature Id='Environment' Title='PATH Environment Variable' Description='Add honk300 to the user PATH.' Level='1' Absent='allow'>
                <ComponentRef Id='Path'/>
            </Feature>
            <Feature Id='Autostart' Title='Login Autostart' Description='Start honk300 when this user logs in.' Level='2' Absent='allow'>
                <ComponentRef Id='LoginAutostart'/>
            </Feature>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>
        <SetProperty Id='HONK300AUTOSTART' Value='true' After='CostFinalize'>&amp;Autostart=3</SetProperty>
        <Property Id='ARPHELPLINK' Value='https://github.com/RealEmmettS/goose'/>

        <Binary Id='Honk300SlotHelper' SourceFile='$(var.CargoTargetBinDir)\honk300.exe'/>
        <CustomAction Id='SetRollbackSlotData' Property='RollbackWindowsSlot' Value='__windows-slot-rollback --root &quot;[APPLICATIONFOLDER]&quot;'/>
        <CustomAction Id='RollbackWindowsSlot' BinaryKey='Honk300SlotHelper' ExeCommand='[CustomActionData]' Execute='rollback' Impersonate='yes' Return='ignore'/>
        <CustomAction
            Id='SetActivateSlotData'
            Property='ActivateWindowsSlot'
            HideTarget='yes'
            Value='__wsa -r &quot;[APPLICATIONFOLDER]&quot; -o &quot;msi-corporate&quot; -c &quot;$(var.Commit)&quot; -a &quot;[OriginalDatabase]&quot; -l &quot;$(var.LauncherSha256)&quot; -u &quot;[HONK300AUTOSTART]&quot;'/>
        <CustomAction Id='ActivateWindowsSlot' BinaryKey='Honk300SlotHelper' ExeCommand='[CustomActionData]' Execute='deferred' Impersonate='yes' Return='check' HideTarget='yes'/>
        <CustomAction Id='SetCommitSlotData' Property='CommitWindowsSlot' Value='__windows-slot-commit --root &quot;[APPLICATIONFOLDER]&quot;'/>
        <CustomAction Id='CommitWindowsSlot' BinaryKey='Honk300SlotHelper' ExeCommand='[CustomActionData]' Execute='commit' Impersonate='yes' Return='check'/>
        <CustomAction Id='SetUninstallSlotData' Property='UninstallWindowsSlot' Value='__windows-slot-uninstall --root &quot;[APPLICATIONFOLDER]&quot; --origin &quot;msi-corporate&quot;'/>
        <CustomAction Id='UninstallWindowsSlot' BinaryKey='Honk300SlotHelper' ExeCommand='[CustomActionData]' Execute='deferred' Impersonate='yes' Return='check'/>
        <InstallExecuteSequence>
            <Custom Action='SetRollbackSlotData' After='RemoveExistingProducts'>NOT REMOVE~=&quot;ALL&quot;</Custom>
            <Custom Action='RollbackWindowsSlot' After='SetRollbackSlotData'>NOT REMOVE~=&quot;ALL&quot;</Custom>
            <Custom Action='SetActivateSlotData' After='RollbackWindowsSlot'>NOT REMOVE~=&quot;ALL&quot;</Custom>
            <Custom Action='ActivateWindowsSlot' After='SetActivateSlotData'>NOT REMOVE~=&quot;ALL&quot;</Custom>
            <Custom Action='SetCommitSlotData' After='ActivateWindowsSlot'>NOT REMOVE~=&quot;ALL&quot;</Custom>
            <Custom Action='CommitWindowsSlot' After='SetCommitSlotData'>NOT REMOVE~=&quot;ALL&quot;</Custom>
            <Custom Action='SetUninstallSlotData' Before='UninstallWindowsSlot'>REMOVE~=&quot;ALL&quot; AND NOT UPGRADINGPRODUCTCODE</Custom>
            <Custom Action='UninstallWindowsSlot' Before='RemoveFiles'>REMOVE~=&quot;ALL&quot; AND NOT UPGRADINGPRODUCTCODE</Custom>
        </InstallExecuteSequence>

        <WixVariable Id='WixUILicenseRtf' Value='$(var.SourceRoot)\wix\honk300-license.rtf'/>

        <UI>
            <UIRef Id='WixUI_FeatureTree'/>
        </UI>
    </Product>
</Wix>
